@model IEnumerable<sisetitulacion.Models.TBL_Cliente>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TBL_Distrito.nombre_Disrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TBL_Distrito.nombre_Disrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_cliente }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_cliente }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_cliente })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
