@model IEnumerable<sisetitulacion.Models.TBL_Trabajo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/EstilosPersonal.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <title>SerVicios</title>
</head>
<body>
    <p>
       
    </p>
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombretrabajo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombretrabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.idTrabajo }) |

                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
